@import "../index";

.p {
  display: block;
  color: map-get($colorContent, "disabled");
}

.hover {
  color: map-get($colorContent, "active");
}

.p1 {
  font-size: 1rem;
}

.p2 {
  font-size: 1.1rem;
}

.p3 {
  font-size: 1.2rem;
}
