@use "sass:map";
@import "styles";


.cont {
  display: flex;
  justify-content: center;
  align-items: center;
  color: map.get($colorContent, "active");
  font-size: 1rem;
  height: 150px;
  border-top: 1px solid map.get($colorContent, "disabled");
}
