@import "@comp/variables";

$height: 40px;

.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: $height;
}

.title {
  background-color: $color-primary;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px 0 10px;

  a {
    color: $color-gray;
    font-weight: 800;
  }
}

.margin {
  height: $height;
}

.space {
  flex-grow: 1;
}

.item {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0 0 0 10px;
  color: $color-disabled;


  &:hover {
    color: $color-white;
  }

  @include bp1 {
    font-weight: 500;
  }

  @include bp2 {
    font-weight: 600;
  }

  @include bp3 {
    font-weight: 700;
  }

  @include bp4 {
    font-weight: 700;
  }
}