@import "@style";

$size: 50px;

.cont {
  width: $size;
  height: $size;

  position: fixed;
  right: 20px;
  bottom: 20px;
  border-radius: 30px;
  background-color: map-get($colorPrimary, "disabled");

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);

  &:hover {
    background-color: map-get($colorPrimary, "active");
  }
}
