@import "../../index";

.cont {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  backdrop-filter: blur(5px) grayscale(0.6);

  display: flex;
  justify-content: center;
  align-items: center;
}

.contClose {
  padding: 0.3rem;
  min-width: 360px;
  display: flex;
  align-items: center;

  .header {
    flex-grow: 1;
  }

  img {
    display: block;
    width: 2rem;
    border-radius: 1rem;
    background-color: rgba(0, 0, 0, 0.1);
  }

  img:hover {
    background-color: rgba(0, 0, 0, 0.7);
  }
}

.children {
  padding: 1rem 0.6rem 1rem 0.6rem;
  //background-color: map-get($colorBackground, "disabled");
  //border-radius: 0.3rem;
  margin-bottom: 2rem;
}
