@use "sass:map";
@import "styles";

.cont {
  height: 100%;
  display: inline-flex;
  justify-content: flex-end;
  align-items: flex-end;
  color: map.get($colorContent, "disabled");

  img {
    margin-right: 4px;
    display: block;
    filter: map.get($filterPrimary, "disabled")
  }

  div {
    &:hover {
      color: map.get($colorContent, "active");
      cursor: pointer;
    }
  }
}
