@import "@scss/zindex";
@import "@scss/color";


.cont {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;

  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: map-get($zIndex, "modal");

  backdrop-filter: blur(4px) grayscale(70%);
}


.modal {
  border-radius: 5px;
  background-color: map-get($cPanel, "active");
  overflow: hidden;
  border: 2px solid map-get($cPanel, "disabled");
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.content {
  padding: 0.5rem;
}
