@use "sass:map";
@import "@comp/index.module";

$navHeight: 40px !default;

.cont {
  position: fixed;
  display: flex;
  width: 100%;
  left: 0;
  top: 0;
  justify-content: center;
  align-items: center;
  height: $navHeight;
  z-index: map.get($zIndex, "topNav");

  // bg filter
  backdrop-filter: blur(2px) grayscale(0.3);

  @include bp1 {
    $navHeight: 30px;
  }

  @include bp2 {
    $navHeight: 35px;
  }

  @include bp3 {
    $navHeight: 40px;
  }

  @include bp4 {
    $navHeight: 40px;
  }
}

.nav {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;


  .title {
    height: 100%;
    color: map.get($colorBackground, "active");
    background-color: map.get($colorPrimary, "active");
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
  }


}

.space {
  flex-grow: 1;
}

.boxMargin {
  height: calc(#{$navHeight} + 15px);
}
