.cont {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-width: 360px;
  padding: 0.4rem 0;
}

.header {
  flex-grow: 1;
}

.close {
  display: block;
  width: 2rem;
  border-radius: 1rem;
  background-color: rgba(0, 0, 0, 0.1);
}

.close:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
