@import "../index";

.a {
  display: inline-block;
  text-decoration: none;
  color: map-get($colorLink, "normal");
  cursor: default;

  @include bp1 {
    font-weight: 400;
    font-size: 0.8rem;
  }
  @include bp2 {
    font-weight: 400;
    font-size: 0.85rem;
  }
  @include bp3 {
    font-weight: 500;
    font-size: 0.9rem;
  }
  @include bp4 {
    font-weight: 500;
    font-size: 0.9rem;
  }

  &.inline {
    display: inline-block;
  }

  &.block {
    display: block;
  }
}

.a:link {
  color: map-get($colorLink, "normal");
}

.a:visited {
  color: map-get($colorLink, "normal");
}

.a:hover {
  color: map-get($colorLink, "hover");
}

.a:active {
  color: map-get($colorLink, "active");
}


.cont {
  display: flex;

  .icon {
    display: block;
    filter: map-get($filterPrimary, "disabled");
    height: 0.9rem;
  }

  .children {
    text-decoration: underline;
    color: map-get($colorLink, "normal");
  }

  .children:hover {
    color: map-get($colorLink, "hover");
  }

  .children:active {
    color: map-get($colorLink, "active");
  }
}


