@import "@style";

.cont {
  position: relative;
  font-size: 0.8rem;
  width: 100%;


  .tooltip {
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    min-width: 100px;
    color: #fff;
    position: absolute;
    padding: 0.5rem;
  }

  &:hover {
    .tooltip {
      visibility: visible;
    }
  }
}

.top {
  bottom: 100%;
  right: -100%;
}

.bottom {
  top: 100%;
  right: -100%;
}

.left {
  top: calc((100% / 2) - 1.3rem);
  right: 120%;
}

.right {
  top: calc((100% / 2) - 1.3rem);
  left: 110%;
}

