@import "@scss/color";

.cont {
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid map-get($cBorder, "normal");
}

.info {
  font-size: 0.8rem;
  color: map-get($cContent, "disabled")
}
