@import "@style";

.mobile {
  @include bp1 {
    display: block;
  }

  @include bp2 {
    display: none;
  }
}

.notMobile {
  @include bp1 {
    display: none;
  }

  @include bp2 {
    display: block;
  }
}
