@use "sass:map";
@import "font";
@import "width";
@import "color";

$zIndex: (
        "topNav": 100,
        "content": 50,
);

.body {
  position: relative;
  color: map.get($colorContent, "active");
  background-color: map.get($colorBackground, "active");
}
