// break point
$bp1: 360px;
$bp2: 720px;
$bp3: 1080px;
$bp4: 1440px;

// colors
$color-gray: rgb(31, 34, 42);
$color-primary: #78E2A0;
$color-white: #ffffff;
$color-disabled: #6c6c6c;


// reactive
@mixin bp1 {
  @media(min-width: $bp1) {
    @content
  }
}

@mixin bp2 {
  @media(min-width: $bp2) {
    @content
  }
}

@mixin bp3 {
  @media(min-width: $bp3) {
    @content
  }
}

@mixin bp4 {
  @media(min-width: $bp4) {
    @content
  }
}