@import "@style";

.cont {
  font-size: 0.8rem;
  padding: 0.5rem;
  position: fixed;
  left: 20px;
  bottom: 20px;
  width: 20%;
  backdrop-filter: blur(4px);
  border: 1px solid map-get($colorBorder, "active");
  z-index: 1000;
  overflow-x: hidden;
}
