@import "../../scss/bp";


.cont {
  width: 100%;
  min-height: 100%;
}

.content {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  @include bp1 {
    width: 100%;
  }

  @include bp2 {
    width: 100%;
  }

  @include bp3 {
    width: $bp3;
  }

  @include bp4 {
    width: $bp4;
  }
}


$side3: 200px;
$side4: 250px;

.side {
  @include bp1 {
    display: none;
  }

  @include bp2 {
    display: none;
  }

  @include bp3 {
    width: $side3;
    display: block;
  }
  @include bp4 {
    width: $side4;
    display: block;
  }
}

.children {
  @include bp1 {
    padding: 0 0.5rem 0 0.5rem;
    width: 100%;
  }
  @include bp2 {
    padding: 0 0.5rem 0 0.5rem;
    width: 100%;
  }
  @include bp3 {
    padding-left: 1rem;
    width: calc(100% - #{$side3});
  }
  @include bp4 {
    width: calc(100% - #{$side4});
  }
}
