$bp1: 360px;
$bp2: 720px;
$bp3: 1080px;
$bp4: 1440px;

@mixin bp1 {
  @media screen and (min-width: $bp1) {
    @content;
  }
}

@mixin bp2 {
  @media screen and (min-width: $bp2) {
    @content;
  }
}

@mixin bp3 {
  @media screen and (min-width: $bp3) {
    @content;
  }
}


@mixin bp4 {
  @media screen and (min-width: $bp4) {
    @content;
  }
}


// sbp 기준
@mixin sbp1 {
  @media screen and (min-width: $bp2) {
    @content;
  }
}

@mixin sbp2 {
  @media screen and (min-width: $bp4) {
    @content;
  }
}

