$bp1: 360px;
$bp2: 720px;
$bp3: 1080px;
$bp4: 1440px;

@mixin bp1 {
  @media screen and (min-width: $bp1) {
    @content;
  }
}

@mixin bp2 {
  @media screen and (min-width: $bp2) {
    @content;
  }
}

@mixin bp3 {
  @media screen and (min-width: $bp3) {
    @content;
  }
}


@mixin bp4 {
  @media screen and (min-width: $bp4) {
    @content;
  }
}


// sbp 기준
@mixin sbp1 {
  @media screen and (min-width: $bp2) {
    @content;
  }
}

@mixin sbp2 {
  @media screen and (min-width: $bp4) {
    @content;
  }
}



// side menu width
$side1: 100%;
$side2: 100%;
$side3: 200px;
$side4: 250px;


// nav height
$nav1: 40px;
$nav2: 50px;
$nav3: 55px;
$nav4: 60px;

$navP1: calc(#{$nav1} + 0.5rem);
$navP2: calc(#{$nav2} + 0.5rem);
$navP3: calc(#{$nav3} + 0.5rem);
$navP4: calc(#{$nav4} + 0.5rem);
