$cPrimary: (
        "normal": #78e2a0,
        "active": #78e2a0,
        "hover": #78e2a0,
        "disabled": #4db27b,
);

$cBackground: (
        "normal": #1f222a,
        "active": #1f222a,
        "hover": #1f222a,
        "disabled": #15191e,
);

$cWarning: (
        "normal": #efaa2a,
        "active": #efaa2a,
        "hover": #efaa2a,
        "disabled": #a17514,
);

$cContent: (
        "normal": #dadada,
        "active": #dadada,
        "hover": #dadada,
        "disabled": #818181,
);

$cBorder: (
        "normal": #2b2d38,
        "active": #4c5183,
        "hover": #313654,
        "disabled": #2b2d38,
);

$cLink: (
        "normal":#488661,
        "active": #78e2a0,
        "hover": #4db27b,
        "disabled": #3c7051,
);

$cPanel: (
        "normal": #282828,
        "active": #444444,
        "hover": #282828,
        "disabled": #383838,
);
