@import "font";
@import "color";
@import "space";
@import "tags/a";
@import "tags/h";
@import "tags/p";
@import "tags/input";
@import "tags/label";
@import "tags/hr";
@import "tags/button";
@import "tags/table";
@import "tags/html";
@import "tags/body";
@import "tags/all";

.backdrop {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;

  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: map-get($zIndex, "modal");

  backdrop-filter: blur(4px) grayscale(70%);
}
