@import "styles";


.cont {
  @include bp1 {
    padding-left: 5px;
  }

  @include bp2 {
    padding-left: 5px;
  }

  @include bp3 {
    padding-left: 10px;
  }

  @include bp4 {
    padding-left: 10px;
  }
}
